APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[LANG]default_lang = zh-cn[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8#数据库调试DEBUG = true#字段缓存FIELDS_CACHE=false#字段前缀#prefix[REDIS]#reids 配置HOST=127.0.0.1PORT=6379#AUTH=#TIMEOUT=#PREFIX=#PERSISTENT=[LOG]#file,socketchannel=file#SOCKETLOG 配置#socket_host=127.0.0.1#显示加载文件#socket_show_included_files=false#开启socket 调试,默认读取app_debug#socket_debug = false